.App {
  height: 100vh;
  text-align: center;
  background-color: #0c0c0c;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.greet {
  border-bottom: 2px solid white;
}
.top {
  color: black;
  background-color: #27e0b3;
  border-radius: 4px;
  padding: 3px;
}
.head{
  font-style: italic;
}
.foot{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footp{
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: #f8f521;
  color: black;
  padding: 0px;
  margin-bottom: 0;
}
